body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 30%;
    height: 80%;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
img{
    margin-top: -30px;
    width: 160px;
    height: 150px;
}
h1 {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    color: #007bff;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
	outline-color: #3498dbdd;
}

button {
    width: 150px;
    height: 40px;
    margin: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 0.3rem;
    font-size: 1.2rem;

}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
}
h3{
    color: #0056b3;
}
table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    color: #2645e3;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 2rem;
    }
    
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    input[type="text"] {
        width: 100%;
        max-width: none;
        padding: 0.5rem;
        font-size: 0.9rem;
        margin-bottom: 0.75rem;
    }
}
